.goal-info p {
    font-size: 14px;
    color: #6c757d; /* Bootstrap's text-muted color */
}

.goal-info strong {
    color: #6c757d; /* Bootstrap's text-dark color */
    font-style: bold;
}

.goal-info i {
    color: #007bff; /* Icon color, you can customize this */
}

/* .dropdown-item {
    cursor: default;
    text-decoration: none;
    background-color: transparent !important;
    pointer-events: none;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: transparent !important;
    color: inherit !important;
    text-decoration: none !important;
} */

