.goal-info p {
    font-size: 14px;
    color: #6c757d; /* Bootstrap's text-muted color */
}

.goal-info strong {
    color: #6c757d; /* Bootstrap's text-dark color */
    font-style: bold;
}

.goal-info i {
    color: #007bff; /* Icon color, you can customize this */
}

.notification-message {
    padding-right: 30px; /* Add some padding to the right to accommodate the close icon */
}

.close-icon {
    font-size: 16px;
    color: #888;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

.close-icon:hover {
    color: #f44336;
}

.icon-alert {
    color: #f44336; /* Red color for alert */
}

.icon-great-job {
    color: #28a745; /* Green color for great job */
}

.icon-breaking-even {
    color: #ffc107; /* Yellow color for breaking even */
}

.icon-info {
    color: #007bff; /* Blue color for info */
}

.profile_img {
    width: 60px; /* You can adjust the size as needed */
    height: 55px; /* Ensure this is the same as the width */
    border-radius: 50%; /* Makes the image a circle */
    object-fit: cover; /* Ensures the image covers the entire area without stretching */
    margin-right: 10px;
}

.profile_img2 {
    width: 29px; /* You can adjust the size as needed */
    height: 29px; /* Ensure this is the same as the width */
    border-radius: 50%; /* Makes the image a circle */
    object-fit: cover; /* Ensures the image covers the entire area without stretching */
    margin-right: 10px;
}

.info-number .fa-envelope {
    font-size: 20px; /* Adjust the size as needed */
    color: #555; /* Change the color to blue, or any color you prefer */
    margin-right: 10px; /* Adjust the spacing to the right of the icon */
    vertical-align: middle; /* Align the icon vertically with the text if needed */
}


/* .dropdown-item {
    cursor: default;
    text-decoration: none;
    background-color: transparent !important;
    pointer-events: none;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: transparent !important;
    color: inherit !important;
    text-decoration: none !important;
} */

