{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Cash Flow</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form method="POST">
          <div class="form-group row">
            <label for="initial_cash" class="col-sm-3 col-form-label">Initial Cash Amount:</label>
            <div class="col-sm-9">
              <input type="number" step="0.01" class="form-control" id="initial_cash" name="initial_cash" value="{{ initial_cash}}" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Total Transaction:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" value="{{ total_transaction }}" readonly>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
