{% extends "base.html" %}

{% block content %}
<!-- top tiles -->
<div class="row" style="display: inline-block;" >
  <div class="tile_count">
    <div class="col-md-2 col-sm-4  tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Net Worth</span>
      <div class="count green">{{ net_worth | format_currency }}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>    
    <div class="col-md-2 col-sm-4  tile_stats_count">
      <span class="count_top"><i class="fa fa-money"></i> Total Incomes</span>
      <div class="count green">{{ total_income | format_currency }}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4  tile_stats_count">
      <span class="count_top"><i class="fa fa-shopping-cart"></i> Total Expenses</span>
      <div class="count red">{{ total_expense | format_currency }}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4  tile_stats_count">
      <span class="count_top"><i class="fa fa-balance-scale"></i> Total Assets</span>
      <div class="count green">{{ total_assets | format_currency }}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>    
    <div class="col-md-2 col-sm-4  tile_stats_count">
      <span class="count_top"><i class="fa fa-balance-scale"></i> Total Outstanding</span>
      <div class="count red">{{ total_outstanding | format_currency }}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4  tile_stats_count">
      <span class="count_top"><i class="fa fa-bar-chart"></i> Total Investments</span>
      <div class="count green">{{ total_investment | format_currency }}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>From last Week</span>
    </div>    
  </div>
</div>
<!-- /top tiles -->

<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="dashboard_graph">

      <div class="row x_title">
        <div class="col-md-6">
          <h3>Investment Activities <small>Profit/Loss Over Time</small></h3>
        </div>
        <div class="col-md-6">
          <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-sm-9 ">
        <canvas id="lineChart"></canvas>
      </div>
      <div class="col-md-3 col-sm-3  bg-white">
        <div class="x_title">
          <h2>Top Performance</h2>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-12 col-sm-12 ">
          <div>
            <p>Etherium</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
              </div>
            </div>
          </div>
          <div>
            <p>Bitcoin</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
          <div>
            <p>Litecoin</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
              </div>
            </div>
          </div>
          <div>
            <p>Render</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="clearfix"></div>
    </div>
  </div>

</div>
<br />

<div class="row">

  <div class="col-md-4 col-sm-4 ">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2>Liabilities</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <h4>Top Largest Loans</h4>
        <!-- Loop through the top_5_loans passed from the backend -->
        {% for loan in top_5_loans %}
        <div class="widget_summary">
          <div class="w_left w_25">
            <span>{{ loan['name'] }}</span>  <!-- Loan name -->
          </div>
          <div class="w_center w_55">
            <div class="progress">
              <!-- Safely calculate percentage based on loan expense and original amount -->
              {% set progress = (loan['loan_expense'] and loan['original_amount']) and ((loan['loan_expense'] / loan['original_amount']) * 100) or 0 %}
              <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" data-progress="{{ progress }}">
                  <span class="sr-only">{{ progress|round(2) }}% Complete</span>
              </div>
            </div>
          </div>
            <div class="w_right w_20">
              <!-- Show the outstanding balance -->
              <span>{{ loan['outstanding_balance']|format_balance }}</span>
            </div>
          <div class="clearfix"></div>
        </div>
        {% endfor %}
        <!-- If there are fewer than 5 loans, show a message or placeholder -->
        {% if top_5_loans|length == 0 %}
        <p>No loans to display.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 ">
    <div class="x_panel tile fixed_height_320 overflow_hidden">
      <div class="x_title">
        <h2>Asset Categories</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="" style="width:100%">
          <tr>
            <th style="width:37%;">
              <p>Top {{ top_asset_categories|length }} Asset Categories</p>
            </th>
            <th>
              <div class="col-lg-7 col-md-7 col-sm-7 ">
                <p class="">Category</p>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 ">
                <p class="">Total(%)</p>
              </div>
            </th>
          </tr>
          <tr>
            <td>
              <!-- Canvas for doughnut chart -->
              <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
            </td>
            </td>
            <td>
              <table class="tile_info">
                {% for asset in top_asset_categories %}
                    <tr>
                        <td>
                            <p><i class="fa fa-square"></i> {{ asset.category }} </p>
                        </td>
                        <td>{{ (asset.amount / total_amount * 100) | round(2) }}%</td>
                    </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4">
      <div class="x_panel tile fixed_height_320">
          <div class="x_title">
              <h2>Saving Goals</h2>
              <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editSavingGoalModal">Edit Goal</a>
                      </div>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a></li>
              </ul>
              <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div class="dashboard-widget-content">
                  {% if saving_goals %}
                      {% for goal in saving_goals %}
                      <div style="display: flex; align-items: center;">
                          <div class="goal-info" style="flex: 1; padding-right: 10px;">
                              <p>
                                  <i class="fa fa-calendar-alt"></i> 
                                  <strong>Target Date:</strong><br> 
                                  {{ goal.target_date.strftime('%B %d, %Y') }}
                              </p>
                              <p>
                                  <i class="fa fa-check-circle"></i> 
                                  <strong>Completed:</strong><br> 
                                  {% if goal.target_amount > 0 %}
                                      {{ ((goal.current_amount / goal.target_amount) * 100) | min_value(100) | format_currency }}%
                                  {% else %}
                                      0%
                                  {% endif %}
                              </p>
                              <p>
                                  <i class="fa fa-hourglass-half"></i> 
                                  <strong>Time Left:</strong><br> 
                                  {{ (goal.target_date - datetime.datetime.utcnow()).days | max(0) }} days
                              </p>
                          </div>

                          <div class="sidebar-widget" style="flex: 1;">
                              <h4>{{ goal.name }}</h4>
                              <canvas width="150" height="100" id="chart_gauge_01" class="gauge-chart" 
                                  data-max-value="{{ 100 }}" 
                                  data-current-value="{{ ((goal.current_amount / goal.target_amount) * 100) | min_value(100) }}">
                              </canvas>
                              <div class="goal-wrapper">
                                  <span class="gauge-value pull-left">${{ goal.current_amount | format_currency }}</span>
                                  <span class="goal-value pull-right">${{ goal.target_amount | format_currency }}</span>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  {% else %}
                      <p>No active saving goals. Please set a saving goal.</p>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <!-- Updated To-Do List Panel in dashboard.html -->
  <div class="col-md-4 col-sm-4">
    <div class="x_panel" style="height: 448.5px;">
        <div class="x_title">
            <h2>To-Do List <small>Tasks</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" id="addTaskBtn">Add Task</a>
                    </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="to_do" id="todoList">
              {% for task in tasks %}
              <li data-id="{{ task._id }}" style="display: flex; align-items: center;">
                  <p style="flex: 1; margin: 0;">
                      <input type="checkbox" class="flat" {% if task.completed %}checked{% endif %}> {{ task.task }}
                  </p>
                  <div style="margin-left: auto;">
                      <a href="#" class="editTask" data-id="{{ task._id }}" style="margin-right: 10px;">
                          <i class="fa fa-pencil-square-o"></i>
                      </a>
                      <a href="#" class="deleteTask" data-id="{{ task._id }}">
                          <i class="fa fa-trash"></i>
                      </a>
                  </div>
              </li>
              {% endfor %}
          </ul>
        </div>
    </div>
  </div>


  <div class="col-md-4 col-sm-4  ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Budget vs. Actual Spending</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editBudgetModal">Edit Budget</a>
              </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="height: 370px;">
          {% if budget_message %}
              <p>{{ budget_message }}</p>
          {% else %}
            <div id="echart_sonar" style="height:100%; width:100%;"></div>
          {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4  ">
    <div class="x_panel" style="height: 448.5px;">
      <div class="x_title">
        <h2>Income vs. Expense Ratio</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="echart_gauge" style="height:370px;" data-ratio="{{ income_expense_ratio }}"></div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Saving Goal Modal -->
<div id="editSavingGoalModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit Saving Goal</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form action="{{ url_for('saving_goals.edit_saving_goal') }}" method="POST" id="savingGoalForm">
              <div class="modal-body">
                  <div class="form-group">
                      <label for="target-amount">Target Amount:</label>
                      <input type="number" class="form-control" id="target-amount" name="target_amount">
                  </div>
                  <div class="form-group">
                      <label for="target-date">Target Date:</label>
                      <input type="date" class="form-control" id="target-date" name="target_date">
                  </div>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="automaticSavingGoal" name="automatic_saving_goal">
                      <label class="form-check-label" for="automaticSavingGoal">Automatic Saving Goal</label>
                      <small class="form-text text-muted">
                          If checked, the system will automatically calculate the target amount and target date.
                      </small>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Budget Edit Modal -->
<div id="editBudgetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Budget</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('budget.save_budget') }}" method="POST">
          <div class="form-group">
            <label for="start-date">Start Date:</label>
            <input type="date" class="form-control" id="start-date" name="start_date" required>
          </div>
          <div class="form-group">
            <label for="end-date">End Date:</label>
            <input type="date" class="form-control" id="end-date" name="end_date" required>
          </div>
          <div class="form-group">
            <label for="categories">Please input budget amounts for at least 3 categories:</label>
            <div id="categoryList">
              <!-- Directly include the input fields here -->
              <div class="form-group">
                <label for="budget_Food">Food:</label>
                <input type="number" class="form-control" name="budget_Food" placeholder="Enter budget for Food" min="0">
              </div>
              <div class="form-group">
                <label for="budget_Shopping">Shopping:</label>
                <input type="number" class="form-control" name="budget_Shopping" placeholder="Enter budget for Shopping" min="0">
              </div>
              <div class="form-group">
                <label for="budget_Transport">Transport:</label>
                <input type="number" class="form-control" name="budget_Transport" placeholder="Enter budget for Transport" min="0">
              </div>
              <div class="form-group">
                <label for="budget_Interest Expense">Interest Expense:</label>
                <input type="number" class="form-control" name="budget_Interest Expense" placeholder="Enter budget for Interest Expense" min="0">
              </div>
              <div class="form-group">
                <label for="budget_Loan Expense">Loan Expense:</label>
                <input type="number" class="form-control" name="budget_Loan Expense" placeholder="Enter budget for Loan Expense" min="0">
              </div>
              <div class="form-group">
                <label for="budget_Other">Other:</label>
                <input type="number" class="form-control" name="budget_Other" placeholder="Enter budget for Other" min="0">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save Budget</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Task Modal for Adding/Editing Tasks -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">Add/Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="taskInput" class="form-control" placeholder="Enter task description" required>
        <input type="hidden" id="taskId">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveTaskBtn">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    init_chart_doughnut();  // Call without arguments
  });

  document.querySelectorAll('.progress-bar').forEach(function(bar) {
      const progress = bar.getAttribute('data-progress');
      bar.style.width = progress + '%';
  });

  document.getElementById('automaticSavingGoal').addEventListener('change', function() {
      const targetAmount = document.getElementById('target-amount');
      const targetDate = document.getElementById('target-date');
      
      if (this.checked) {
          // Clear and disable the target amount and target date fields
          targetAmount.value = '';
          targetAmount.disabled = true;
          targetAmount.removeAttribute('required');
          
          targetDate.value = '';
          targetDate.disabled = true;
          targetDate.removeAttribute('required');
      } else {
          // Enable the target amount and target date fields
          targetAmount.disabled = false;
          targetAmount.setAttribute('required', 'required');
          
          targetDate.disabled = false;
          targetDate.setAttribute('required', 'required');
      }
  });

  document.getElementById('target-amount').addEventListener('input', function() {
      const automaticSavingGoal = document.getElementById('automaticSavingGoal');
      
      if (this.value) {
          // Uncheck and disable the automatic saving goal checkbox if target amount is filled
          automaticSavingGoal.checked = false;
          automaticSavingGoal.disabled = true;
      } else {
          // Enable the automatic saving goal checkbox if target amount is empty
          automaticSavingGoal.disabled = false;
      }
  });

  document.getElementById('target-date').addEventListener('input', function() {
      const automaticSavingGoal = document.getElementById('automaticSavingGoal');
      
      if (this.value) {
          // Uncheck and disable the automatic saving goal checkbox if target date is filled
          automaticSavingGoal.checked = false;
          automaticSavingGoal.disabled = true;
      } else {
          // Enable the automatic saving goal checkbox if target date is empty
          automaticSavingGoal.disabled = false;
      }
  });


</script>
{% endblock %}
