<!-- templates/edit_transaction.html -->
{% extends "base.html" %}

{% block title %}
Edit Transaction - Net Plus
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages alert alert-danger" role="alert">
                        {% for message in messages %}
                            <span>{{ message }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Edit Transaction</h2>
            <form action="{{ url_for('transactions.edit_transaction', transaction_id=transaction._id) }}" method="POST">
                <div class="form-group">
                    <label for="type">Type</label>
                    <select name="type" id="type" class="form-control" onchange="updateCategoryOptions()">
                        <option value="Income" {% if transaction.type == 'Income' %}selected{% endif %}>Income</option>
                        <option value="Expense" {% if transaction.type == 'Expense' %}selected{% endif %}>Expense</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="category" id="category" class="form-control" onchange="checkOtherCategory()">
                        <!-- Category options will be populated by JavaScript -->
                    </select>
                    <input type="text" name="other_category" id="other_category" class="form-control" placeholder="Enter other category" style="display:none;">
                </div>
                <div class="form-group" id="loanNameGroup" style="display:none;">
                    <label for="loan_name">Loan Name</label>
                    <select name="loan_name" id="loan_name" class="form-control" onchange="updateLoanDetails()">
                        {% for loan in loans %}
                        <option value="{{ loan.name }}" data-interest="{{ loan.interest_payable }}" data-outstanding="{{ loan.outstanding_balance }}" {% if transaction.loan_name == loan.name %}selected{% endif %}>{{ loan.name }}</option>
                        {% endfor %}
                    </select>
                    <small id="interestPayableInfo" class="form-text text-muted" style="display:none;">
                        Interest Payable: <span id="interestPayableAmount"></span>
                    </small>
                    <small id="outstandingBalanceInfo" class="form-text text-muted" style="display:none;">
                        Outstanding Balance: <span id="outstandingBalanceAmount"></span>
                    </small>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date" class="form-control" value="{{ transaction.date.strftime('%Y-%m-%d') }}" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="3">{{ transaction.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="payment_method">Payment Method</label>
                    <select name="payment_method" id="payment_method" class="form-control">
                        <option value="">Select Payment Method</option>
                        <option value="Cash" {{ 'selected' if transaction.payment_method == 'Cash' else '' }}>Cash</option>
                        <option value="Bank Transfer" {{ 'selected' if transaction.payment_method == 'Bank Transfer' else '' }}>Bank Transfer</option>
                        <option value="Debit Card" {{ 'selected' if transaction.payment_method == 'Debit Card' else '' }}>Debit Card</option>
                        <option value="Credit Card" {{ 'selected' if transaction.payment_method == 'Credit Card' else '' }}>Credit Card</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" id="amount" class="form-control" step="0.01" value="{{ "%.2f"|format(transaction.amount) }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Update Transaction</button>
                <a href="{{ url_for('transactions.list_transactions') }}" class="btn btn-secondary">Back to Transactions</a>
            </form>
        </div>
    </div>
</div>

<style>
    .flash-messages {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 600px;
        z-index: 1000;
        opacity: 1;
        transition: opacity 0.5s ease-out;
        padding: 15px;  /* Adjust padding for better height control */
        font-size: 16px;  /* Adjust font size if needed */
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        updateCategoryOptions();
        checkOtherCategory();
        setTimeout(function() {
            var flashMessages = document.querySelector('.flash-messages');
            if (flashMessages) {
                flashMessages.style.transition = 'opacity 0.5s ease-out';
                flashMessages.style.opacity = '0';
                setTimeout(function() {
                    flashMessages.remove();
                }, 500);
            }
        }, 5000); // The message will disappear after 3 seconds
    });

    function updateCategoryOptions() {
        var type = document.getElementById('type').value;
        var categorySelect = document.getElementById('category');
        var categories = [];

        if (type === 'Income') {
            categories = ['Salary', 'Business', 'Other'];
        } else if (type === 'Expense') {
            categories = ['Food', 'Shopping', 'Interest Expense', 'Loan Expense', 'Other'];
        }

        categorySelect.innerHTML = '';

        categories.forEach(function(category) {
            var option = document.createElement('option');
            option.value = category;
            option.text = category;
            categorySelect.appendChild(option);
        });

        // Set the selected category based on the existing transaction data
        var selectedCategory = "{{ transaction.category }}";
        categorySelect.value = selectedCategory;
        checkOtherCategory();
    }

    function checkOtherCategory() {
        var category = document.getElementById('category').value;
        var otherCategoryInput = document.getElementById('other_category');
        var loanNameGroup = document.getElementById('loanNameGroup');

        if (category === 'Other') {
            otherCategoryInput.style.display = 'block';
        } else {
            otherCategoryInput.style.display = 'none';
        }

        if (category === 'Interest Expense' || category === 'Loan Expense') {
            loanNameGroup.style.display = 'block';
            updateLoanDetails();  // Update the interest payable or outstanding balance info when the category is 'Interest Expense' or 'Loan Expense'
        } else {
            loanNameGroup.style.display = 'none';
        }
    }

    function updateLoanDetails() {
        var loanSelect = document.getElementById('loan_name');
        var selectedOption = loanSelect.options[loanSelect.selectedIndex];
        var interestPayable = selectedOption.getAttribute('data-interest');
        var outstandingBalance = selectedOption.getAttribute('data-outstanding');
        
        var interestPayableInfo = document.getElementById('interestPayableInfo');
        var interestPayableAmount = document.getElementById('interestPayableAmount');
        var outstandingBalanceInfo = document.getElementById('outstandingBalanceInfo');
        var outstandingBalanceAmount = document.getElementById('outstandingBalanceAmount');
        
        if (document.getElementById('category').value === 'Interest Expense') {
            interestPayableAmount.innerText = parseFloat(interestPayable).toFixed(2);
            interestPayableInfo.style.display = 'block';
            outstandingBalanceInfo.style.display = 'none';
        } else if (document.getElementById('category').value === 'Loan Expense') {
            outstandingBalanceAmount.innerText = parseFloat(outstandingBalance).toFixed(2);
            outstandingBalanceInfo.style.display = 'block';
            interestPayableInfo.style.display = 'none';
        } else {
            interestPayableInfo.style.display = 'none';
            outstandingBalanceInfo.style.display = 'none';
        }
    }
</script>

{% endblock %}
