{% extends "base.html" %}

{% block head %}
<!-- Inheriting the base template's head and adding DataTables CSS -->
{{ super() }}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
{% endblock %}

{% block scripts %}
<!-- Inheriting base scripts and adding DataTables JS -->
{{ super() }}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#cryptoTable').DataTable({
        "paging":true,
        "lengthChange": true,  // This enables the "Show entries" dropdown
        "lengthMenu": [10, 25, 50, 100],  // Options for "Show entries"
        "searching": true,
    });  // Initialize DataTables on the crypto table
});
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Markets Overview</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#stocks">Stocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#crypto">Crypto</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="overview" class="container tab-pane active"><br>
            <h3>Overview</h3>
            <p>Welcome to the Markets Overview. Here you can view your stocks and crypto holdings.</p>
          </div>
          <div id="stocks" class="container tab-pane fade"><br>
            <h3>Stocks</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Symbol</th>
                  <th>Last Price</th>
                  <th>Volume</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {% for stock in stocks %}
                <tr>
                  <td>{{ stock.symbol }}</td>
                  <td>{{ stock.last_price }}</td>
                  <td>{{ stock.volume }}</td>
                  <td>{{ stock.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="crypto" class="container tab-pane fade"><br>
            <h3>Crypto</h3>
            <table class="table" id="cryptoTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Current Price</th>
                  <th>Market Cap</th>
                  <th>Volume</th>
                  <th>24h Change (%)</th>
                </tr>
              </thead>
              <tbody>
                {% for coin in crypto_data %}
                <tr>
                  <td>{{ coin['name'] }}</td>
                  <td>${{ coin['current_price'] | format_currency }}</td>
                  <td>${{ coin['market_cap'] | format_currency }}</td>
                  <td>{{ coin['total_volume'] | format_currency }}</td>
                  <td>{{ '%.2f' | format(coin['price_change_percentage_24h']) }}%</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
